.NavBar {
  display: flex;
  justify-content: center;
  margin: 0 0 20px;
  width: 100%;
  background-color:#E69598;
  
}

.NavBar-link {
  margin: 0 10px;
  color: black;
  font-size: 25px;
}

.NavBar-welcome {
  color: black;
}



