.NavBar {
  display: flex;
  justify-content: center;
  margin: 0 0 20px;
  width: 100%;
  background-color: cornflowerblue; 
  padding: 10px;
}

.NavBar-link {
  margin: 0 10px;
}

.NavBar-welcome {
  color: grey;
}
