.addfunkobtn{
    font-size: 20px;
}

.panelform{
    background-color: whitesmoke;
    text-align: center;
    padding: 10px;
    font-size: 20px;
}

label{
    font-size: 20px;
    font-weight: none;
}

h3{
    margin-top: 0;
}

