.App {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;

}

h1{
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 5px;
  /* font-weight: bold; */
  background-color: #C82B30;
  /* background-color: #D9534F; */
  color: #B8B8B8;
  
}
