.App {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;

}

h1{
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 20px;
  font-weight: bold;
}
